---
import Layout from "@components/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import Rainbow from "@components/Rainbow.astro";

const eventos = (await getCollection("eventos"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<Layout>
  <Rainbow>Eventos</Rainbow>

  Eventos da algorave brasil

  <section>
    <ul>
      {
        eventos.map((evento) => (
          <li>
            <FormattedDate date={evento.data.pubDate} />
            <a href={`/eventos/${evento.slug}/`}>{evento.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
