/* Guia de Contribuição

Oi! Se você chegou aqui é porque quer (ou precisa) mudar alguma coisa no estilo da nossa página

Algumas informações pra te ajudar:
Todo o CSS usado está nesse arquivo.
Usamos variáveis CSS sempre que possível. Elas são declaradas e definidas no bloco ":root"
- Declarando uma variável: "--nome-da-variável: valor";
- Usando uma variável: "var(--nome-da-variável)";

Usamos desenvolvimento Mobile-First. Na prática, isso significa que todo o CSS sem escopo limitado é voltado pra dispositivos mobile.
Pedimos que mantenha esse padrão. Para isso:
- Código para desktop vai dentro do bloco "@media (min-width: 600px) { ... }"
- Código para widescreen vai dentro do bloco "@media (min-width: 1200px) { ... }"
- O resto é tudo mobile

*/

:root {
  /* Palette 1 */
  --color-background: #00005c;
  --color-accent-1: #6a097d;
  --color-accent-2: #c060a1;
  --color-foreground: #ffdcb4;

  --color-background: #1f1f1f;
  --color-accent-1: #ff71ce;
  --color-accent-2: #01cdfe;
  --color-accent-3: #05ffa1;
  --color-accent-4: #b967ff;
  /* --color-foreground: #fffb96;


  --color-foreground: var(--color-white);

  /* Rainbow */
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #D49C3D;
  --color-red: #D14B3D;
  --color-violet: #CF52EB;
  --color-blue: #44A3F7;
  --color-green: #5ACB3C;
  --color-yellow: #DEBF40;
  --font-name: Righteous;

  /* --footer-background: #c060a1; */

  --footer-background: #dfdfdf;
  --color-accent-1: #dfdfdf;
  --color-text: var(--color-white);


  /* Layout */
  --menu-height: 3rem;
  --text-link-padding: 0.25rem;
  --max-content-width: 22rem;
}

@font-face {
  font-family: "Apple ][";
  src: url('fonts/Apple ][.ttf') format('truetype');
}

@font-face {
  font-family: "Superscript";
  src: url('/fonts/SUPERSCR.TTF') format('truetype');
}

@font-face {
  font-family: "HANDY";
  src: url('/fonts/handy00.ttf') format('truetype');
}

@font-face {
  font-family: "Arcade";
  src: url('/fonts/ARCADE.TTF') format('truetype');
}

@font-face {
  font-family: "Mainport";
  src: url('/fonts/Mainport.ttf') format('truetype');
}

@font-face {
  font-family: "Micro";
  src: url('/fonts/Micro.ttf') format('truetype');
}

@font-face {
  font-family: "Billy Bold";
  src: url('/fonts/Billy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Billy Light";
  src: url('/fonts/Billy-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Cyber Soulja";
  src: url('/fonts/Cyber Soulja.ttf') format('truetype');
}


html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto 2rem;
  max-width: 80rem;
  padding: 0rem 1rem;
}

main {
  padding: 1rem 0;
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



footer img {
  margin-left: 0.5rem;
}

footer a, .header a {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.header h2 { font-size: 1rem; }


a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: Micro;
  padding: 1rem 0rem
}

.title a {
  color: #0070f3;
  text-decoration: none;
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
  width: 100%
}



code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}





/* EFEITO ARCO-ÍRIS */

#algoravebrasil {
  position: fixed;
  bottom: 10px;
  margin: auto;
  color: white;
}

#animation {
  position: fixed;
  top: 30px;
}

.content {
  margin: auto 2rem;
  max-width: 80rem;
}

ul {
  overflow-x: hidden;
  word-wrap: break-word !important;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: var(--max-content-width)
}

.content a {
  background: var(--color-accent-2);
  color: var(--color-background);
  padding-left: var(--text-link-padding);
  padding-right: var(--text-link-padding);
  transition: 0.2s
}

.content a:hover {
  background: var(--color-accent-3);
  transition: 0.2s
}

.content b {
  color: var(--color-accent-2);
}

.content p:first-child {
}


/* CSS animation copied from https://freefrontend.com/css-text-animations/ */

html, body {
  /* font-size: 24px; */
  color: var(--footer-background);
}
body {
  background-color: var(--color-background);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  /* font-size: 3rem; */
  color: var(--text-color);
  /* text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2); */
  animation: rainbow 4s ease-in-out infinite;
}
.c-rainbow__layer:nth-child(1) {
  animation-delay: calc( 1 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 1);
  z-index: -10;
}
.c-rainbow__layer:nth-child(2) {
  animation-delay: calc( 2 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 2);
  z-index: -20;
}
.c-rainbow__layer:nth-child(3) {
  animation-delay: calc( 3 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 3);
  z-index: -30;
}
.c-rainbow__layer:nth-child(4) {
  animation-delay: calc( 4 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 4);
  z-index: -40;
}
.c-rainbow__layer:nth-child(5) {
  animation-delay: calc( 5 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 5);
  z-index: -50;
}
.c-rainbow__layer:nth-child(6) {
  animation-delay: calc( 6 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 6);
  z-index: -60;
}
.c-rainbow__layer:nth-child(7) {
  animation-delay: calc( 7 / var(--delay) * 2s);
  left: calc(var(--axis-x) * 7);
  z-index: -70;
}
.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}
.c-rainbow__layer--white   { --text-color: var(--color-white)   }
.c-rainbow__layer--orange  { --text-color: var(--color-orange)  }
.c-rainbow__layer--red     { --text-color: var(--color-red)     }
.c-rainbow__layer--violet  { --text-color: var(--color-violet)  }
.c-rainbow__layer--blue    { --text-color: var(--color-blue)    }
.c-rainbow__layer--green   { --text-color: var(--color-green)   }
.c-rainbow__layer--yellow  { --text-color: var(--color-yellow)  }

@keyframes rainbow {
  0%, 100% {
    transform: translatey(var(--axis-y));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}


.menu {
  /* display: flex; */
  justify-content: space-evenly
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: Mainport
}

.navlink {
  margin: 1rem;
}

.unstyled {
  list-style: none;
}

.centered-list { text-align: center; max-width: 24rem; }

.horizontal {
  margin: auto;
  /* display: flex; */
  justify-content: space-between;
  padding: 1rem;
}

a.backgroundless {
  background: none;
  color: var(--color-accent-2);
}

a.backgroundless:hover {
  background: none;
  color: var(--color-accent-3);
}

#artistList {
  display: block;
  text-align: center;
}

.artistCard {
  margin: 0em 1em 1em 0em;
  padding: 0.5em;

  /* display: flex; */
  width: 100%;
  background: var(--footer-background);
  text-align: center;
  border-radius: 0.25rem;
  align-items: center;
}

.artistCard > img {
  width: 2em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.artistCard > .artistTitle {
  color: #1f1f1f;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.artistLink {
  margin-right: 0.25em;
}

/*  Layout  */

span.grid-4-col {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
}


.grid {
  width: 100%;
  flex-direction: column;
}


footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  justify-self: center;
  margin: auto
}

.header {
  color: black;
  background: var(--footer-background);
  width: 100%;
  z-index: 999;
}

.header.mobile summary {
  margin: 0.5rem;
}

.header.mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header.mobile a {
  margin: 0
}

.header.mobile li {
  margin: 0.25rem 1rem
}


/*--------------------------- Desktop ---------------------------*/
@media (min-width: 600px) {
  footer, .header {
    min-height: var(--menu-height);
    border-top: 1px solid var(--footer-background);
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .navlink {
    min-width: 4rem;
    font-size: 1.25rem;
  }

  .header h2 { font-size: 1.5rem; }

  .content { margin: auto 50px; }

  :root {
    --max-content-width: 50rem;
  }

  .artistCard {
    display: inline-block;
    width: 25%;
    margin: 1em;
    padding: 1em;
  }
  
  .artistCard img { margin-right: 0em; }
}




/*--------------------------- Widescreen ---------------------------*/
@media (min-width: 1200px){
  :root {
    --max-content-width: 80rem;
  }
}

@media (min-width: 600px){
  .mobile {
    display: none;
  }

}


/*--------------------------- Mobile ---------------------------*/

@media (max-width: 599px){
  .desktop {
    display: none;
  }
  h1.title {
    font-size: 2rem;
  }
}

table {
    border-collapse: collapse
}

tr {
    border: 1px solid;
}

td {
    border: 1px solid;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
