---
import Layout from "@components/Layout.astro";
import Rainbow from "@components/Rainbow.astro";

const valores = [
  "inclusão, diversidade e pluradidade de pensamento",
  "respeito à origem, identidade, orientação, opiniões, crenças e posições alheias",
  "troca de conhecimento, receptividade axs mais novxs - isso implica evitar uso de tecnologiquês ou semelhante elitização",
  "intolerância à opressão, violência ou discurso de ódio",
  "incentivo ao software livre",
];

const telegram = "tg://join?invite=BCotLVCAJTQ3fW5E-j9DVA";
const links = [
  { icon: "telegram", url: telegram },
  { icon: "instagram", url: "https://www.instagram.com/algoravebr/" },
  { icon: "twitter", url: "https://www.twitter.com/algoravebr/" },
];
---

<Layout>
  <Rainbow>Código de Conduta</Rainbow>
  <p class="description">
    A Algorave Brasil é um <a href="https://en.wikipedia.org/wiki/Safe_space"
      >espaço seguro</a
    >, com base nos seguintes valores:
    <br />
    <br />
    <ul class="unstyled">
      {valores.map((v) => <li>{v}</li>)}
    </ul>

    <br />
    <br />
    <h2>Faça parte</h2>
    Entre no nosso <a href={telegram}>grupo no telegram</a>, é nosso meio de
    comunicação por enquanto.
    <br />
    Abaixo estão outros links e redes:
    <br />
    <br />
    <ul class="horizontal unstyled centered-list">
      {
        links.map(({ icon, url }) => (
          <li>
            <a href={url}>
              {/* <i class={`fab fa-2x fa${icon}`}></i> */}
              {icon}
            </a>
          </li>
        ))
      }
    </ul>
  </p>
</Layout>
