---
import Rainbow from "@components/Rainbow.astro";
import Layout from "@components/Layout.astro";
---

<Layout>
  <Rainbow>Algorave Brasil</Rainbow>
  <p class="description">
    Live coding é uma forma de performance artística e uma técnica criativa
    centrada na escrita de código-fonte e no uso de programação interativa,
    improvisada, frequentemente aplicada na criação de sons e imagens digitais,
    sistemas de luzes, dança improvisada e poesia.
    <br />
    <br />
    Desde 2004 a comunidade internacional de Live Coding se organiza informalmente
    através do <a href="https://toplap.org">TOPLAP</a> promovendo e difundindo o
    tema no mundo, sendo ponto focal para todos os praticantes e pesquisadores no
    tema, na América Latina o coletivo <a
      href="https://colectivo-de-livecoders.gitlab.io">CLiC</a
    > tem feito há bastante tempo um ótimo trabalho de acolhimento individual e promove
    uma constante reflexão sobre o uso e desenvolvimento tecnológico e suas implicações
    políticas e sociais.
    <br />
    <br />
    No Brasil os praticantes, pesquisadores, artistas, músicos e demais interessados
    no tema se reúnem através da comunidade <b>Algorave Brasil</b>, promovendo
    eventos, trocando informações, recepcionando novatos, especialmente aqueles
    interessados e curiosos que nunca tiveram contato com live coding e tem
    interesse em conhecer ou praticar, e acima de tudo um espaço inclusivo,
    diverso e com respeito às diferenças e necessidades individuais de cada um.
  </p>
</Layout>
