---
const props = Astro.props;
const links = [
  { href: props.website, icon: "globe fa" },
  { href: props.twitter, icon: "twitter" },
  { href: props.github, icon: "github" },
  { href: props.instagram, icon: "instagram" },
];
const gitlabdir =
  "https://gitlab.com/algoravebrasil/algoravebrasil.gitlab.io/-/raw/master/static";
---

<div class="artistCard">
  <img src={props.image} />
  <br />
  <span class="artistTitle"><a href={props.website}>{props.name}</a></span>
  <br />
  <span class="grid-4-col">
    {
      links &&
        links.map(
          ({ href, icon }) =>
            href && (
              <a class="artistLink backgroundless" href={href} target="_blank">
                <i class={`fab fa-${icon}`} />
              </a>
            )
        )
    }
  </span>
</div>
