---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<div style="position: sticky; top: 0px; display: flex; z-index: 100">
  <details class="header mobile">
    <summary>{SITE_TITLE}</summary>
    <ul>
      <li><HeaderLink href="/eventos">Home</HeaderLink></li>
      <li><HeaderLink href="/eventos">Eventos</HeaderLink></li>
      <li><HeaderLink href="/artistas">Artistas</HeaderLink></li>
      <li><HeaderLink href="/sobre">Sobre</HeaderLink></li>
      <li><HeaderLink href="/entre">Entre</HeaderLink></li>
    </ul>
  </details>

  <header class="header desktop">
    <nav class="container" style="margin: 0">
      <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
      --
      <HeaderLink href="/eventos">Eventos</HeaderLink>
      <HeaderLink href="/artistas">Artistas</HeaderLink>
      <HeaderLink href="/sobre">Sobre</HeaderLink>
      <HeaderLink href="/entre">Entre</HeaderLink>
    </nav>
  </header>
</div>
