---
import { SITE_DESCRIPTION } from "../consts";
import { SITE_TITLE } from "../consts";
import '../styles/global.css';
import Header from "./Header.astro";
import BaseHead from "./BaseHead.astro";
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="content">
      <slot />
    </main>
			
    <footer>
      Página em construção ❤️ Faça parte
    </footer>
	</body>
</html>
